@media (min-width: 900px) {
  
  #projects-grid {
    min-height:100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    list-style: none;

    .list-col {
      border: 1px solid black;
      margin: 0 0.5vw;
      box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
      color: #000;
      text-align: center;
      align-items:center;
      /* Safari transitionend event.propertyName === flex */
      /* Chrome + FF transitionend event.propertyName === flex-grow */
      transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
      font-size: 20px;
      background-size:cover;
      background-position:center;
      flex: 1;
      justify-content: center;
      display: flex;
      flex-direction: column;

      &:hover {
        flex: 2;
      }

      h3 {
        font-family: "Space Mono", sans-serif;
      }

      p {
        font-family: "Roboto", sans-serif;
      }

    }
  
  }
  
}