/* Desktop Navigation */
nav {
  position: fixed;
  background: #2a2a29;
  padding: 10px;
  width: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     
    li {
      color: #fff;
    }

    .nav-item {
      text-decoration: none;
      color: #fff;
      font-size: 3rem;
      line-height: 2;
    }

    .nav-item:hover {
      opacity: 0.5;
    }
  
  }
}

/* End Desktop Navigation */

/* Mobile Navigation */
.icons {
  color: #000;
  padding-left: 20px;
  font-size: 1.5rem;
}

.mobile-nav {
  background: transparent;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

  ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     
    li {
      color: #fff;
    }

    .nav-item {
      text-decoration: none;
      color: #000;
      font-size: 2rem;
      line-height: 2;
    }
<<<<<<< HEAD
=======

    .nav-item:hover {
      opacity: 0.5;
    }
>>>>>>> 14af1548a11882ac3f9cd344dd42c31496fc81cc
  
  }

}

<<<<<<< HEAD
/* End Mobile Navigation */
=======
/* End Mobile Navigation */
>>>>>>> 14af1548a11882ac3f9cd344dd42c31496fc81cc
